In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import os

In [4]:
#Load data into using Pandas Read_csv
dataset_train = pd.read_csv("google-stock-price-data\Google_Stock_Price_Train.csv")
dataset_train.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [34]:
#Lets understand how Dataframe.iloc is working
# Iloc representd for "Index Location of" 
# Try below commands removing comments
#dataset_train.iloc[:]                       # This will give you all dataframe values
#dataset_train.iloc[1]                        # this will return you your first index data#
#dataset_train.iloc[:,0]                    # return all data of om index column
#type(dataset_train.iloc[:,1])           # will return you all data of column 1 But output will be in Pandas.core.series.Series
#dataset_train.iloc[:,1:2]             # Prefered  # will return all data of column 1 But output will be in Pandas Dataframe

# Get your input data in variable (Open column data is our input data for our model)
trainset = dataset_train.iloc[:,1:2].values        # .values return array 
trainset

array([[325.25],
       [331.27],
       [329.83],
       ...,
       [793.7 ],
       [783.33],
       [782.75]])

In [ ]:
# Now we will scale out trainset AKA input value within scale of 0 to 1 
# Min Max Scaler is precedure to Scale original value within maped value without loosing original information
# This is Normalization technique
#Normalization is used to scale the data between 0 and 1. It is defined as
#Yi = [Xi - min(X)]/[max(X) - min(X)]
#Where Xi is the i th data point and min represents the minimum and Maximum represents maximum. So Xi converts to Yi

from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0,1))        # Feature_range you can define for your output range (default (0,1))
training_scaled = sc.fit_transform(trainset)

In [36]:
training_scaled

array([[0.08581368],
       [0.09701243],
       [0.09433366],
       ...,
       [0.95725128],
       [0.93796041],
       [0.93688146]])